/* game board table */

body{
  background: rgb(87, 87, 87);
  /* background: repeating-linear-gradient(45deg, rgb(43, 43, 43), rgb(68, 68, 68) 40dvw, rgb(38, 37, 37) 5dvi); */

  text-align: center;
}

.gameContainer{


}


.content{
  background-color: rgba(39, 27, 12, 0.459);
  margin: 5dvi;
  padding: 2dvi;
  border-radius: 2dvi;
  backdrop-filter: blur(1dvi);
  -webkit-backdrop-filter: blur(.5dvi); 
  color: rgb(180, 180, 180);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 10dvi);
  gap: 5px;
  /* margin-top: 20px; */
}

.box {
  width: 10dvi;
  height: 10dvi;
  border: 1px solid rgb(109, 70, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8dvi;
  cursor: pointer;
}

.box:hover{
  background-color: rgba(85, 55, 29);
}

.player{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#playerOne{
  width: 10dvi;
  height: 10dvi;
  font-size: 9dvi;
  text-align: center;
  border-radius: 50%;
  backdrop-filter: blur(1dvi);
  -webkit-backdrop-filter: blur(.5dvi); 
  background-color: rgba(39, 27, 12, 0.468);
  color: rgb(180, 180, 180);
  border: .5dvi solid rgb(0, 71, 91);
}

#playerTwo{
  width: 10dvi;
  height: 10dvi;
  font-size: 9dvi;
  text-align: center;
  border-radius: 50%;
  backdrop-filter: blur(1dvi);
  -webkit-backdrop-filter: blur(.5dvi); 
  background-color: rgba(39, 27, 12, 0.468);
  color: rgb(180, 180, 180);
  border: .5dvi solid rgb(130, 32, 0);
}

.info{   
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-sub-container{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(20px); 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1rem;
  margin-left: -15px;
}
p, a{
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}